{
  "plugins": ["prettier"],
  "extends": [
    "eslint-config-airbnb-base",
    "plugin:react/recommended",
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "serviceworker": true
  },
  "globals": {
    "ComponentRenderer": true,
    "TemplateRenderer": true,
    "workbox": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "no-prototype-builtins": "off",
    "no-restricted-globals": "off",
    "no-underscore-dangle": "off",
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
